{% extends 'base.html.twig' %}

{% block title %}Přihlásit se{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="form login-fido">
            <span> Is Dis U</span>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"  href="build/styles/main.css" >
{% endblock %}
