{% extends 'base.html.twig' %}

{% block title %}Přihlásit se{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="form info" data-username="{{ username }}">
                Máte nastavené ověřování pomocí tokenu. Nyní ověříme token.
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"  href="build/styles/main.css" >
{% endblock %}

{% block javascripts %}
    <script src="build/js/main.js"> </script>
{% endblock %}
