{% extends 'base.html.twig' %}

{% block body %}
<div class="redirect" data-redirect="{{ link }}"></div>
{% endblock %}

{% block title %}
Probíhá přesměrování
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"  href="build/styles/main.css" >
{% endblock %}

{% block javascripts %}
    <script src="build/js/main.js"> </script>
{% endblock %}
