{% extends 'base.html.twig' %}

{% block title %}Přihlásit se{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="form">
            {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %}

            <form class="login-form"  method="post">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <label>Email:
                    <input name="email" type="text" value="{{ last_username }}"  placeholder="email"/>
                </label>
                <label>Heslo:
                    <input name="password" type="password" placeholder="heslo"/>
                </label>
                <button type="submit">Přihlásit se</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"  href="build/styles/main.css" >
{% endblock %}

{% block javascripts %}
    <script src="build/js/main.js"> </script>
{% endblock %}
